
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
    <body>
   
    <%- include("./partials/nav.ejs") %>

    <section id="questions" class="p-5 bg-success text-light">
    
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center"></div>
                <h1> OOPs, page not not-found </h1>
        </div>  
    </div>
</section>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>