<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
    <%- include("./partials/nav.ejs") %>

    <section class="p-5 bg-success">
        <div class="container">
            <h1>Courses Index to be added here inside a white container</h1>
        </div>
    </section>

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

</body>
</html>