<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
    <%- include("./partials/nav.ejs") %>

    <!--Showcase or main header area-->
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1><span class="text-warning">
                        Become a Dragon!!
                    </span></h1>
                    <p class="lead my-4">
                        We focus on teaching our students the fundamentals of the 
                        latest and greatest technologies to prepare them to be the best Dragon they can be.
                    </p>
                    <!--<button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Start the Enrollment</button>-->
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="img/eye.jpg" alt="">
            </div>
        </div>
    </section>

    <!--Newsletter and form-->
    <section class="bg-success text-light p-5">
        <div class="container" >
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0" align="center">Here is where all the fun begins!</h3>                
            </div>
        </div>
    </section>

    <!--Boxes-->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Courses
                            </h3>
                            <p class="card-text">
                                This is where you go to check the courses you need and want to sign up for. This will go over each course and tell you the times and what you need.
                            </p>
                            <a href="/courses/coursesIndex" class="btn btn-danger mt-3">
                                <i class="bi bi-chevron-right"></i> Courses Index
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-danger text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person-square"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Teachers
                            </h3>
                            <p class="card-text">
                                Teachers can come here and check courses, add, modify or delete courses. This is a teacher only page, NO STUDENTS ALLOWED!!
                            </p>
                            <a href="/teacherLogin" class="btn btn-success mt-3">
                                <i class="bi bi-chevron-right"></i> Teacher Login
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Students
                            </h3>
                            <p class="card-text">
                                Students log in here to choose your courses and add them to your schedule. Here is everything you need to sign up for classes!!!
                            </p>
                            <a href="/studentLogin" class="btn btn-danger mt-3">
                                <i class="bi bi-chevron-right"></i> Student Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<!--Question Accordion-->
<section id="questions" class="p-5 bg-success text-light">
    <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">

            <!--Item 1-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                  Where exactly are you located?
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">We are located in Dragon, UT. We have a great campus that is relaxing for our students so they can easily study and get good grades.</div>
              </div>
            </div>
            <!-- Item 2-->
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                    How much does it cost to attend?
                  </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                  <div class="accordion-body">It is free to go here. Just need to learn how to use our website!!</div>
                </div>
              </div>
            <!-- Item 3-->
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                    What do I need to know?
                  </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                  <div class="accordion-body">You need to know how to browse our website and hit the correct buttons and make the right decisions. We will teach you everything else you need to know.</div>
                </div>
              </div>
          </div>
          <!-- Item 4-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                How do I sign up?
              </button>
            </h2>
            <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">Just need to go to the website and create a new account and that gets you signed up!</div>
            </div>
          </div> 
          <!-- Item 5-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
                What is a Dragon?
              </button>
            </h2>
            <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
              <div class="accordion-body">A Dragon is a state of mind. It makes you ready for the world!</div>
            </div>
          </div>
    </div>
</section>

    <!--Learn Section-->
    <section id="learn" class="p-5 text-success">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="img/logo.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>Teachers</h2>
                    <p class="lead">
                        Create and find any course details
                    </p>
                    <p>
                        Delete any course
                    </p>
                    <a href="/teacherLogin" class="btn btn-danger mt-3">
                        <i class="bi bi-chevron-right"></i> log in to go to Teachers page
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="learn" class="p-5 bg-dark text-success">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md p-5">
                    <h2>Courses</h2>
                    <p class="lead">
                        All courses
                    </p>
                    <p>
                        Check our courses list
                    </p>
                    <a href="/courses/coursesIndex" class="btn btn-danger mt-3">
                        <i class="bi bi-chevron-right"></i> Go to Courses page
                    </a>
                </div>
                <div class="col-md">
                    <img src="img/face.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

<!-- Contact and Map-->
<section class="p-5 bg-success">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Location</span> Dragon, Utah
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Teacher Phone</span> (555) 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Phone</span> (333) 333-3333
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Teacher Email</span> teacher@dragons.edu
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Email</span> student@dragons.edu
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
 <%- include("./partials/footer.ejs") %>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>


</body>
</html>
