<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <!--Navigation Menu an Bar-->
        <%- include("./partials/nav.ejs") %>

    <!--Showcase or main header area-->
    
        

            <div class="courses content p-5" >

                <h2>Student schedule</h2>
                <a class="single" href="#">

               
                <h3 class="name">course.name %></h3>          
                <p class="subArea">Subject Area: course.subArea %></p>
                <p class="numcred">Credits: course.numcred %></p>
                </a>
                
              </div>



<!-- Footer -->
<%- include("./partials/footer.ejs") %>     
   
</body>
</html>